* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: OpenSans;
}

.navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  top: 0;
  z-index: 4;
}

.logo {
  width: 179px;
  padding-top: 28px;
}

.links {
  display: flex;
  font-size: 13px;
  line-height: 2.7;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 45px;
}

.links li {
  list-style-type: none;
  padding: 0 35px 0 0;
}

.links :last-child {
  padding: 0;
}

.hero {
  position: relative;

  background-color: #0c1524;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;

  margin-left: auto;
  margin-right: auto;

  max-width: 700px;
  padding: 195px 0 147px 0;
}

.hero-title {
  font-size: 45px;
  line-height: 1.6;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: normal;
}
