* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px;
}

body {
  font-family: OpenSans;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  top: 0;
  z-index: 4;
}

.logo {
  min-width: 179px;
  padding-top: 28px;
}

.links {
  display: flex;
  margin-top: 45px;
}

.links li {
  list-style-type: none;
  padding: 0 35px 0 0;
}

.links li a {
  text-decoration: none;
  font-size: 13px;
  line-height: 2.7;
  color: #ffffff;
  text-transform: uppercase;
}

.links :last-child {
  padding: 0;
}

.hero {
  position: relative;

  background-color: #0c1524;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;

  margin-left: auto;
  margin-right: auto;

  max-width: 700px;
  padding: 195px 0 147px 0;
}

.hero-title {
  font-size: 45px;
  line-height: 1.6;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: normal;
}

.general-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 64px;
}

.main {
  max-width: 777px;
}

.post {
  display: flex;
  margin-bottom: 60px;
}

.post :last-child {
  margin-bottom: 0;
}

.post img {
  width: 381px;
  height: 294px;
  margin-right: 30px;
}

.tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.tags li a {
  font-size: 14px;
  color: #b59f5b;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
}

.post-content h3 {
  margin-bottom: 32px;
  line-height: 1.2;
  margin-top: 10px;
}

.post-content h3 a {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

span.date {
  font-size: 12px;
  color: #888888;
  margin-right: 14px;
}

span.author {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

.post-text {
  margin-top: 54px;
}

.post-text p {
  font-size: 15px;
  line-height: 1.46;
  color: #0f0d0e;
  margin-bottom: 20px;
}

.sidebar {
  max-width: 272px;
  margin-left: 120px;
}

.sidebar img {
  width: 70px;
  align-self: center;
  margin-right: 20px;
}

.sidebar-content h3 {
  line-height: 0;
}

.sidebar-content h3 a {
  font-size: 14px;
  line-height: 1.28;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.sidebar section {
  margin-bottom: 60px;
}

.section-title {
  font-size: 14px;
  line-height: 1.28;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.divider {
  display: block;
  background-color: #e1d9bd;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 28px;
}

.sidebar-post {
  display: flex;
  margin-bottom: 22px;
}




.search {
  display: flex;
}

label {
  width: 100%;
}

.search .button {
  border: none;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  min-width: 48px;
  min-height: 48px;
}

.search .field {
  border: none;
  width: 100%;
  background-color: #f4f7f6;
  color: #818383;
  padding-left: 18px;
  height: 48px;
  font-size: 13px;

}

.search .field :focus {
  border: none;
}


.subscribe {
  display: flex;
  flex-direction: column;
}

label {
  width: 100%;
}

.subscribe .button {
  border: none;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/im.subscribesvg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  min-width: 48px;
  min-height: 48px;
  margin-top: 18px;
}

.subscribe .field {
  border: none;
  width: 100%;
  background-color: #f4f7f6;
  color: #818383;
  padding-left: 18px;
  height: 48px;
  font-size: 13px;
}







.sidebar-tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: bold;
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
}

.sidebar-tags li {
  border: 3px solid #ededed;
  margin-right: 5px;
  margin-bottom: 6px;
  padding: 4px 14px;
}

.sidebar-tags li a {
  color: inherit;
  text-decoration: none;
}

.themes {
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
}

.themes li {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
  padding-top: 15px;
}

.themes li a {
  color: #000000;
  text-decoration: none;
}

.themes sup {
  color: #b59f5b;
  margin-left: 4px;
}

.footer {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 30px 0 30px 0;
  background-color: #f4f7f6;
}

.icon {
  display: block;
  width: 24px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 12px;
  margin-left: 12px;
}

.icon-twitter {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.icon-pinterest {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.icon-facebook {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.icon-instagram {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.icon-tumblr {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.copyright {
  display: block;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  text-decoration: none;
}
